*	text=auto

# Remove all dot files
/.*         export-ignore
# Remove development files
/.editorconfig
/docker-compose.yml
/infection.json
/Makefile
/phpcs.xml.dist
/phpmd.xml.dist
/phpmetrics.yml
/phpstan.neon.dist
/phpunit.xml.dist
/psalm.xml
/tests      export-ignore
/dev        export-ignore
