*	text=auto

# Remove all dot files
/.*                 export-ignore
# Remove development files
/.editorconfig      export-ignore
/docker-compose.yml export-ignore
/infection.json     export-ignore
/Makefile           export-ignore
/phpcs.xml.dist     export-ignore
/phpmd.xml.dist     export-ignore
/phpmetrics.yml     export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
/psalm.xml          export-ignore
/tests              export-ignore
/dev                export-ignore
